.conteiner {
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 96px;
  cursor: pointer;
}

input:checked + .conteiner {
  border-color: var(--button-hover);
}

.text {
  letter-spacing: -0.01em;
  text-align: center;
}