@import '../node_modules/scss-reset/_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: "Inter", sans-serif;
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --button: #3470ff;
  --button-hover: #0b44cd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--main);
  text-decoration: none;
  transition: all 0.1s linear;
}
a:hover {
  color: var(--button-hover);
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  min-width: 720px;
  min-height: 100vh;
  background-color: var(--white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--gray);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
