@import '../node_modules/scss-reset/_reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family: "Inter", sans-serif;
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: all 0.1s linear;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  min-width: 720px;
  min-height: 100vh;
  background-color: var(--white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  border-radius: 200px;
  padding: 16px 60px;
  background: var(--button);
  letter-spacing: -0.01em;
  color: var(--white);
}

button:hover {
  background: var(--button-hover);
}
